/********************
YOUR STYLES
*******************/
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

/* Header */
header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

header img {
    display: block;
    object-fit: cover;
    background: black;
    padding: 2em;
    padding-right: 2em;
    
}


/* slideshow image placement Pen by Florian Zoubek*/

#slideshow img{
position: absolute;
left: 0;
right: 0;
margin: auto;
    width: 90%;
    height: 50%;
}

/**/

body {
    background: url("/stand-alone-portfolio/img/bg.png");
}

main {
    padding-top: 55em;
}
h1 {
    font-family: "Raleway", Gadget, sans-serif;
    background: rgba(0,0,0,1);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 2.3em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
    letter-spacing: 3px;
}


h2 {
    font-family: "Raleway", Gadget, sans-serif;
    background: rgba(0,0,0,1);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 2.2em;
    width: 100%;
    height: ;
    margin: auto;
    margin-bottom: 1em;
    letter-spacing: 3px;
}

h3 {
    font-family: "Raleway", Gadget, sans-serif;
    background: rgba(0,0,0,1);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 2.2em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
    letter-spacing: 3px;
}

h4 {
    font-family: "Raleway", Gadget, sans-serif;
    background: rgba(0,0,0,1);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 2.2em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
    letter-spacing: 3px;
}

h5 {
    font-family: "Raleway", Gadget, sans-serif;
   background: rgba(0,0,0,1);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 2.3em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
    letter-spacing: 3px;
}

footer {
    text-align: center;
    font-size: 1.5em;
}

figcaption {
    font-family: 'raleway', sans-serif;
    padding: 1em;
    text-align: center; 
    font-size: .65em;
    color: black;
}

a {
    background: none;
    padding: .5em;
}

a img {
    border: solid rgba(0,0,0,.5);
}

.link a {
    display: block;
    text-align: center;
    font-size: 2em;
    background: rgba(255,255,255.1);
    
}


a:link,
a:visited {
    color: white;
}

a:hover,
a:active {
    color: rgba(0,0,0,.5);
}

p {
    font-size: .5em;
}

.top {
    font-size: 3em;
    
    padding: 1em;
    color: black;
    background: none;
    margin: 1em auto;
    letter-spacing: .6em;
    padding-right: 1.2em;
    padding-left: .4em;
}


/* Gallery Styling */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  background: none;
  color: white;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  width: 30em;
}

.lg-backdrop {
    background: rgba(255,69,0,.95);
}

.lg-image {
    box-shadow: 0 0 30px #333;
}




/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
/*
  body {
       background: url("/stand-alone-portfolio/img/bg.png");
  }
*/
    figure{
        justify-content: center;
    }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
/*
  body {
       background: url("/stand-alone-portfolio/img/bg.png");
  }
*/

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
/*
  body {
       background: url("/stand-alone-portfolio/img/bg.png");
  }
*/

}